
:root {
  /* Dark */
  --dark-100: #333333;
  --dark-200: #3d3d3d;
  --dark-300: #5a5a5a;
  --dark-400: #666666;
  --dark-500: #bbbbbb;
  /* Orange */
  --orange: #ff5500;
}

.header {
  background-color: var(--dark-200);
  width: 100%;

  position: fixed;
  top: 0;
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  width: 100%;
  max-width: 73.75rem;
  height: 3.5rem;
  padding: .5rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding: 0.5rem 1rem;

  cursor: pointer;
}
.menu:hover {
  color: var(--orange);
}
.menu-img {
  width: 1.5rem;
  height: 1.5rem;
}

.h1-logo {
  margin: 0 1rem 0 0;
}

.nav-logo {
  height: 2.5rem;
}

.main {
  background-color: var(--dark-200);
  width: 100%;
  margin: 3.5rem 0 0 0;

  border-top: 1px solid var(--dark-300);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main__nav {
  width: 100%;
  max-width: 73.75rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

